In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("zepto_v2.csv", encoding="latin1")

In [4]:
df.head()

,Category,name,mrp,discountPercent,availableQuantity,discountedSellingPrice,weightInGms,outOfStock,quantity
0,Fruits & Vegetables,Onion,2500,16,3,2100,1000,False,1
1,Fruits & Vegetables,Tomato Hybrid,4200,16,3,3500,1000,False,1
2,Fruits & Vegetables,Tender Coconut,5100,15,3,4300,58,False,1
3,Fruits & Vegetables,Coriander Leaves,2000,15,3,1700,100,False,100
4,Fruits & Vegetables,Ladies Finger,1400,14,3,1200,250,False,250

In [6]:
# rename columns to snake_case
df.columns = (
    df.columns
    .str.replace(r'([A-Z])', r'_\1', regex=True)   # Add underscore before capitals
    .str.lower()                                   # Make lowercase
    .str.strip('_')                                # Remove leading underscore
)

In [11]:
# check for null values
df.isnull().sum()

category                    0
name                        0
mrp                         0
discount_percent            0
available_quantity          0
discounted_selling_price    0
weight_in_gms               0
out_of_stock                0
quantity                    0
dtype: int64

In [12]:
df.dtypes

category                    object
name                        object
mrp                          int64
discount_percent             int64
available_quantity           int64
discounted_selling_price     int64
weight_in_gms                int64
out_of_stock                  bool
quantity                     int64
dtype: object

In [14]:
df["category"].unique()

array(['Fruits & Vegetables', 'Cooking Essentials', 'Munchies',
       'Dairy, Bread & Batter', 'Beverages', 'Packaged Food',
       'Ice Cream & Desserts', 'Chocolates & Candies',
       'Meats, Fish & Eggs', 'Biscuits', 'Personal Care', 'Paan Corner',
       'Home & Cleaning', 'Health & Hygiene'], dtype=object)

In [19]:
from sqlalchemy import create_engine

username = "postgres"      # default user
password = "pass123" # the password you set during installation
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "zepto_inventory"    # the database you created in pgAdmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")